@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

:root {
    /* --backgroundcolor: #E0F7FA; */
    --backgroundcolor: #f7eae2;
    /* --text: #2F4F4F; */
    --text: #3D5A80;
    /* --Highlight: #4c9e96; */
    --Highlight: #7FB8AD;
    /* --Error: #FF7043; */
    --Error: #E5736C;
    /* --Buttons: #4682B4; */
    --Buttons: #5B7E9D;
}

.Header-main{
    margin: 12px;
    height: 10vh;
    /* background-color: var(--backgroundcolor); */
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    font-size: xx-large;
}

.Header-title-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    gap: 545px;
}

#logo_dtu{
    display: flex;
    height: 70px;
    width: 70px;
    align-items: left;
}